<section class="top_section p-2">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-5">
        <%= image_tag('logo.jpg', class: 'img-fluid') %>
      </div>
      <div class="col-md-7 line">
        <div class="d-block">
          <p class="mb-0 text-center my-2 fs-3 text-white">
            START A NEW ROUTE
          </p>
          <div class="d-flex mt-2">
            <div style="width: 85%;">
              <div class="d-flex align-items-center">
                <p class="start_txt">Start</p>
                <span class="depot_text">Depot</span>
                <input type="text" class="form-control" id="exampleInputEmail1" />
                <span class="find_txt">Find</span>
              </div>
              <div class="d-flex align-items-center mt-2">
                <p class="start_txt">End</p>
                <span class="depot_text">Depot</span>
                <input type="text" class="form-control" id="exampleInputEmail1" />
                <span class="find_txt">Find</span>
              </div>
            </div>
            <div style="width: 15%;" class="">
              <button class="btn begin_btn" type="button">BEGIN</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="rounte_section p-2">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <%=image_tag('map.jpg', class: 'img-fluid w-100') %>
    </div>
    <div class="col-md-4 p-0  bg-white position-relative">
      <div class="">
        <h2>ROUTE DIRECTIONS</h2>
        <P style="height:200px;">
        </P>
        <h3 class="mb-0">Build job Sheet</h3>
      </div>
    </div>
  </div>
</div>
</section>

<% if upload_result.present? && upload_result['success'] %>
  <% kmz_file = Kmz.find(upload_result['entries'].first['data']) %>
  <%= link_to 'Download KMZ File', rails_blob_path(kmz_file.kmz_attachment, disposition: 'attachment') %>
<% end %>

<script src="js/bootstrap.bundle.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script>
    $(document).on("click", ".browse", function() {
      var file = $(this)
      .parent()
      .parent()
      .parent()
      .find(".file");
      file.trigger("click");
    });
    $(document).on("change", ".file", function() {
      $(this)
      .parent()
      .find(".form-control")
      .val(
        $(this)
        .val()
        .replace(/C:\\fakepath\\/i, "")
      );
    });
  </script>