<div data-target="upload-result.container">
  <% if @upload_result.present? %>
    <% if @upload_result[:success] %>
      <p>File uploaded successfully!</p>
      <p>Entries:</p>
      <ul>
        <% @upload_result[:entries].each do |entry| %>
          <%binding.pry%>
          <li>Name: <%= entry[:name] %></li>
          <li>Data: <%= entry[:data] %></li>
        <% end %>
      </ul>
    <% else %>
      <p>Error: <%= @upload_result[:error] %></p>
    <% end %>
  <% end %>
</div>
