<%= render 'shared/barriers' %>
<div class="w-100">
  <p class="mb-0 text-center p-3 fs-2 text-white bg-red">
    <%= link_to 'BARRIERS', admin_home_barriers_path, class: "text-white"  %>
  </p>
</div>
<div class="w-100">
  <p class="mb-0 text-center p-3 fs-2 text-white bg-blue">
    ROUTE SETTINGS
  </p>
</div>