<body style="background-color: #fff !important;">
  <div class="w-100">
    <p class="mb-0 text-center p-3 fs-2 text-white bg-dark">
      ROUTE SETTINGS
    </p>
  </div>
  <section class="form_main mt-0">
    <div class="container-fluid">
      <div class="box_main">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="box_inner_child">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <h2 class="text-start"><span class="fw-bold me-5">Route Settings</span> Configure the Route Settings
                    Below
                  </h2>
                  <p class="text-dark fs-6 px-2 mt-3 text-start">All of these fields will be on the generated job
                    sheet
                  </p>
                  <div class="box">
                    <form>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="mb-3 form-check ps-0 ">
                            <h3 class="fs-6 text-start fw-bold ">Include Barriers:</h3>
                            <div class="d-flex mb-2">
                              <input type="checkbox" class="form-check-input d-block float-none ms-0 me-2"
                                id="governmentBarrierCheckbox">
                              <label class="form-check-label" for="governmentBarrierCheckbox">Government Barriers</label>
                            </div>
                            <div class="d-flex">
                              <input type="checkbox" class="form-check-input d-block float-none ms-0 me-2"
                                id="permanentBarrierCheckbox">
                              <label class="form-check-label" for="permanentBarrierCheckbox">Permanent Barriers</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-3">
                            <h3 class="fs-6 text-start fw-bold">Barriers Regions:</h3>
                            <label for="exampleInputPassword1" class="form-label fw-light">Select the Regions barriers
                              you want to include in your route</label>
                            <div id="barriersRegions">
                              <!-- Regions will be dynamically loaded here -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <button id="saveButton"
                        class="mt-5 btn add_btn w-100 p-2 p-lg-2fw-bold text-white rounded-0">Save</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="barriersResults">
    <!-- Results will be displayed here -->
  </div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    var jq = jQuery.noConflict();

    var selectedGovernmentCheckboxes = [];
    var selectedPermanentCheckboxes = [];

    jq(document).ready(function () {
      function updateRegions(selectedCheckboxes) {
        var regionsContainer = jq('#barriersRegions');
        regionsContainer.empty();

        jq.ajax({
          url: '/admin/home/fetch_regions',
          method: 'GET',
          data: { checkboxes: selectedCheckboxes },
          dataType: 'json',
          success: function (data) {
            var regionDropdown = jq('<select multiple name="regions[]" class="form-select"></select>');
            jq.each(data, function (index, location) {
              regionDropdown.append('<option value="' + location.region + '">' + location.region + '</option>');
            });

            regionsContainer.append(regionDropdown);

            regionDropdown.trigger('change');
          },
          error: function (error) {
            console.error('Error fetching regions:', error);
          }
        });
      }

      jq('#governmentBarrierCheckbox').change(function () {
        if (this.checked) {
          selectedGovernmentCheckboxes.push('government');
        } else {
          selectedGovernmentCheckboxes = selectedGovernmentCheckboxes.filter(type => type !== 'government');
        }
        updateRegions([...selectedGovernmentCheckboxes, ...selectedPermanentCheckboxes]);
        updateResults('Barriers');
      });

      jq('#permanentBarrierCheckbox').change(function () {
        if (this.checked) {
          selectedPermanentCheckboxes.push('permanent');
        } else {
          selectedPermanentCheckboxes = selectedPermanentCheckboxes.filter(type => type !== 'permanent');
        }
        updateRegions([...selectedGovernmentCheckboxes, ...selectedPermanentCheckboxes]);
      });

      function handleSaveButton() {
        var selectedRegionValues = jq('#barriersRegions select[name="regions"]').val();
        console.log(selectedRegionValues.join(', '));
      }

      jq('#saveButton').on('click', function () {
        handleSaveButton();
      });
    });
  </script>
</body>
