<!-- app/views/layouts/pdf_layout.pdf.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>PDF Layout</title>
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
</head>
<body>
  <%= yield %>
</body>
</html>
